__pycache__/
*.pyc
.env
venv/
!/data/raw/*.dvc
!/data/processed/*.dvc
data/processed/features.csv
data/processed/features_ready.csv
data/processed/features_spark.csv
.ipynb_checkpoints
mlruns/
mlflow.db
metastore_db/
spark-warehouse/